.company_data_container{
    padding-top: 25px;
    width: 1400px;
    height: 600px;
    margin-left: 50px;
}
.search_bar{
    width: 1400px;
    height: 50px;
}
.data{
    background-image: linear-gradient(black, rgb(0, 0, 0));
    width: 1400px;
    height: 500px;
    border-radius: 15px;
    overflow-y: auto;
}
.data::-webkit-scrollbar {
    display: none;
}
.btn{
    border-radius: 20px;
}
.rows{
    background-color: transparent;  
    color: white;
    font-weight: bold;
    width: 1400px;
}
.heading_bar{
    width: 1400px;
    height: 50px;
}
.ro:hover{
    background-color: #222e35;
    cursor: pointer;
}