.crypto_data_container{
    padding: 30px;
    height: 600px;
    
}
.flex{
    display: flex;
}
.cryptodata{
    background-color: white;
    width: 1470px;
    height: 500px;
    border-radius: 15px;
    font-weight: bolder;
    overflow-y: scroll;
    box-shadow: 1px 20px 60px rgba(16, 16, 16, 0.4);;

}
.cryptodata::-webkit-scrollbar {
    display: none;
}
.head{
    width: 1400px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    justify-content: space-between;
    color:black;
    font-family:'Georgia';
    font-size: 27px;
}
#name{
    margin-left: 20px;
}
#price{
    margin-right: 10px;
}