.front_page_container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 620px;
  margin-left: 10px;
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.front_page_container::-webkit-scrollbar {
    display: none;
}
