.mostactive_data_container{
    width: 1400px;
    height: 400px;
    margin-left: 50px;
}

.mostactivedata{
    background-color: white;
    width: 1400px;
    height: 500px;
    border-radius: 15px;
    overflow-y:auto; 
    box-shadow: 1px 20px 60px rgba(16, 16, 16, 0.4);;
}
.mostactivedata::-webkit-scrollbar {
    display: none;
}