.navbar{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.navbar-brand{
    color: white;
}
.navbar-nav{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif
}
.dropdown-item{ 
    color: green;
}
.dropdown-menu{
    background-color:  transparent;
    /* border-radius: 25px; */
}
.dropdown-item:hover{
  
    background-color: green;
    border-radius: 25px;
    /* width: fit-content; */
}
.dropdown-item{
    border-radius: 25px;
    background-color: white;
}
.button{
    background-color: black;
}
.form-control{
    width: 300px;
    border-radius: 100px;
  
}
.search{
    border-color: green;
    border-radius: 25px;
}
  /* #5AC53B */
.nav-item:hover{
    background-color:green;
    border-radius: 25px;
    height: fit-content;
}
.dropdown{
    background-color: transparent;
}
.btn{
    background-color: transparent;
    
}
.nav-link{
    color:white;
}
/* .btn:hover{
    background-color:green;
    border-radius: 25px;
    height: fit-content;
} */