.navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    background: #131921;
}
.navbar-brand{
    color: white;
}
.navbar-nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown-menu{
    background-color:  #eaeded;
    border-radius: 15px;
    height: auto;
}
.dropdown-item:hover{
  
    background-color: #d7dada;
    border-radius: 10px;
}
.dropdown-item{
    border-radius: 15px;
    color: black;
}
.button{
    background-color: black;
}
.form-control{
    width: 300px;
    border-radius: 100px;
}
/* .search{
    border-color: green;
    border-radius: 25px;
} */
 
.nav-item:hover{
    background-color:#090b0f;
    border-radius: 25px;
    height: fit-content;
}
.dropdown{
    background-color: transparent;
}
.nav-link{
    color:white;
}
