.card{
    width: auto;
    height: max-content;
    background-color: transparent;
    color: black;
    border: none;
    margin: 20px;
}
.card-title{
    color: black;
    font-weight: bolder;
}
.card-body{
    width: 750px;
}