.price{
    color: white;
    flex: 0.5; 
    text-align-last: right;
    padding-right: 10px;
}
.name{
    height: 70px;
    color: white;
    flex: 0.5;
    padding-left: 10px;
}
.flex{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.d-flex{
    justify-content: end;
}
.tickername{
    font-size: 13px;
}