.container2{
    height: 600px;
    width: 300px;
    margin-top: 20px;
    background-image: linear-gradient(black, black);
    border-radius: 20px;
}
.heading{
    height: 35px;
    color: white;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.stock__data{
    padding-top: 0px;
}
.rows{
    height: 70px;
    width: 100%;
}