.topgainers_data_container{
    width: 1400px;
    height: 600px;
    margin-left: 50px;
}
.topgainersdata{
    background-image: linear-gradient(black, rgb(0, 0, 0));
    width: 1400px;
    height: 500px;
    border-radius: 15px;
    overflow-y: scroll;
}

.topgainersdata::-webkit-scrollbar {
    display: none;
}