.toplosers_data_container{
    width: 1400px;
    height: 600px;
    margin-left: 50px;
}
.toplosersdata{
    background-image: linear-gradient(black, rgb(0, 0, 0));
    width: 1400px;
    height: 500px;
    border-radius: 15px;
    overflow-y: scroll;

}

.toplosersdata::-webkit-scrollbar {
    display: none;
}