.Wishlist_wrapper{
    width: 100%;
    height: 100vh 
    
}
.wishlistbox{
    height: 550px; 
    width: 90rem;
    margin: 50px;
}
.header{
    width: 90rem;
    height: 50px;
}
.table{
    height: 100%;
    width: 100%;
}
.content{
    overflow-y:scroll;
    background-color: white !important;
    box-shadow: 1px 20px 60px rgba(16, 16, 16, 0.4);;
}
.content::-webkit-scrollbar {
    display: none;
}
