body {
  background-color: #eaeded;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



















.app__container{
  height: 620px;
  width: 1450px;
  margin-left: 40px;
  overflow: hidden;

  /* border: 1px solid yellow; */
}
.flex{
  display: flex;
  height: 620px;
}
.Stats{
  height: 620px;
  flex: 0.2;
  /* border: 1px solid yellow; */

}
.FrontPageNews{
  height: 620px;
  flex: 0.8;
  /* border: 1px solid yellow; */
}
body{
  overflow: hidden;
}